*{
    background-color: black;
}
.container{
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    
}

.container h2{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center; 
}

h2 {

font-size: 1.5em;
font-weight: bold;
padding: 20px;
text-decoration: blue;
}



.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: solid #E71178;
  font-size: 22px;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
}



.active, .accordion:hover {
  color: #E71178;
}

.accordion:after {
  content: '\002B';
  color:#E71178;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #E71178;
  color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
} 
p{
    background-color: #E71178 ;
}
.title {
    font-size: 64px;
    color: white;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.title::after {
    background: #E71178;
    background: linear-gradient(to right, transparent 0%, #E71178 50%, transparent 100%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}