*{
    background-color: black;
    
}
.ball-text {
    fill: white;
    height: 110px;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    }
.ball-text:hover {
    fill: #E71178;
    color: #E71178;
}
.text{
    float: left;
    width: 250px;
    font-size: 24px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.ball{
    float: right;
    height: 100px;
    cursor: pointer;
}
.cont{
    float: left;
    width: 400px;
    height: 1000px;
    padding-top: 100px;
}
svg{
    margin: 0 auto;
}
b{
      font-weight: bold;
      font-size: 36px;
 }
 .tube{
    float: right;
    width: 150px;
    height: 1162px;
    background-color:#2E1421 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 500px 500px 500px 500px;
    padding-right: 15%; 
    margin-bottom: 50px;
 }
 .container{
     padding-top: 60px;
     width: 800px;
     height: 1000px;
     margin: 0 auto;
 }
 .title {
    font-size: 64px;
    color: white;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}
.title::after {
    background: #E71178;
    background: linear-gradient(to right, transparent 0%, #E71178 50%, transparent 100%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


